---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Button from "../components/Button.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<span class="flex flex-col items-stretch px-5">
				<header
					class="justify-center text-center text-5xl font-medium leading-[64px] tracking-tighter bg-clip-text w-full max-md:max-w-full max-md:text-4xl max-md:leading-[60px]"
				>
					The Centralized Platform regarding Regulatory Progress in
					Energy Communities
				</header>
				<div
					class="justify-center text-center text-base leading-6 tracking-normal self-center max-w-[525px] mt-5 max-md:max-w-full"
				>
					SimpleRegs provides you with a Knowledge-base, an AI
					Assistant for all things concerning Energy, and one-step
					applications:<br />
					Simplifying Rules, Empowering You.
				</div>
				<div class="h-10"></div>
				<span
					class="justify-center border border-[color:var(--border-colors-foundations-border-inset,#D8DEE4)] shadow-sm bg-white flex flex-col p-3 rounded-lg border-solid items-start"
				>
					<header
						class="self-stretch text-gray-500 text-sm font-bold leading-5 max-md:max-w-full"
					>
						AI Assistant
					</header>
					<p
						class="self-stretch overflow-hidden text-gray-400 text-ellipsis text-base leading-5 mt-1.5 max-md:max-w-full"
					>
						Enter a description about your target paper to let our
						AI help you.
					</p>
					<a
						href="#"
						class="text-neutral-900 text-sm font-bold leading-5 whitespace-nowrap justify-center items-stretch border border-[color:var(--border-colors-foundations-border-inset,#D8DEE4)] shadow-sm aspect-[1.8888888888888888] mt-16 px-4 py-2 rounded-lg border-solid max-md:mt-10"
						>Send</a
					>
				</span>
			</span>
			<div class="h-10"></div>
			<div class="flex flex-col items-stretch max-md:w-full max-md:ml-0">
				<div class="flex flex-row">
					<h1
						class="grow text-opacity-90 text-2xl font-medium leading-8"
					>
						Regulatory Blog
					</h1>
					<Button href=`${import.meta.env.BASE_URL}/blog`>
						Browse all
					</Button>
				</div>
				<p
					class="justify-center text-stone-500 text-base leading-6 tracking-normal whitespace-nowrap mt-3"
				>
					Discover articles and tutorials to help you build better and
					more sustainable energy communities.
				</p>
			</div>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a
									href={`${import.meta.env.BASE_URL}/blog/${
										post.slug
									}/`}
								>
									<img
										width={720}
										height={360}
										src={post.data.heroImage}
										alt=""
									/>
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate
											date={post.data.pubDate}
										/>
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
