---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";

import paperwork from "../img/paperwork.jpg";
import Button from "../components/Button.astro";

const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="w-[960px]">
			<h1>Templates</h1>
			Paperwork for installations, tax forms, support program applications,
			and more. <br />
			Our one-stop solution for filling out paperwork for the various topics
			related to energy communities.
			<hr />
			<div class="h-10"></div>

			<div class="flex space-x-10">
				<a href={base}>
					<Image
						src={paperwork}
						alt="Paperwork graphic"
						class="rounded-xl shadow-xl"
					/>
				</a>
				<div class="flex flex-col justify-center space-y-5">
					<ul class="list-disc">
						<li>Are you unsure about which template to use?</li>
						<li>
							Are you unsure of the details of the target
							regulations, definitions, etc. and need our support
							to complete the paperwork?
						</li>
						<li>Do you need a template that is not listed here?</li>
						<li>Do you have any other questions?</li>
					</ul>
					<Button href={base}>
						<span class="text-xl">Ask our AI Assistant!</span>
					</Button>
				</div>
			</div>
			<div class="h-10"></div>
			<hr />

			Are you already aware of the work involved and would like to find
			the right template?
		</main>
		<Footer />
	</body>
</html>
